@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.react-calendar {
  max-width: 100%;
  background: white;
  border: none;
  font-family: "Roboto", sans-serif;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
  border: 1px solid gray;
}
/* .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
} */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  /* border: 1px solid red; */
}
.react-calendar__month-view__weekdays__weekday {
  text-decoration: none;
  padding: 0.8em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.4px;
  /* border: 1px solid gray; */
  color: rgba(0, 0, 0, 0.6);
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: 700;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
  font-weight: 600 !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 8px;
  background: none;
  text-align: center;
  line-height: 19px;
}

.react-calendar__tile--active {
  background: #2196f3;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-calendar__tile--active:hover {
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.image {
  width: 40px;
  height: 40px;
  background: #f9f9f9;
  border-radius: 50%;
}
.image .img {
  display: none;
}
.ticked {
  transition: background-color 0.5s;
  background-color: #2196f3;
  animation: colorChange 4s;
  animation-iteration-count: 1;
}
.ticked .img {
  transition: display 0.5s;
  display: block;
  animation: image 1s;
  animation-iteration-count: 1;
}

/* .checkmark-svg {
  stroke: white;
}

@keyframes colorChange {
  from {
    background-color: #f9f9f9;
  }
  to {
    background-color: #2196f3;
  }
}

@keyframes image {
  from {
    display: none;
  }
  to {
    display: block;
  }
} */
